body {
	font-family: helvetica, arial;
	font-size: 14px;
	color: #333;
	background: #efefef;
	background: url("../img/turn1.png"); /* http://subtlepatterns.com/escheresque/ */
	overflow: hidden;
}

#outer-container {
	padding: 20px;
	margin: 50px auto;
	width: 620px;
	background: #fff;
	border: 1px solid #888;
	box-shadow: 3px 3px 5px 5px #ccc;
	border-radius: 5px;
	height: 545px;
	margin-left: 240px;
}

.sub-title {
	font-size: 18px;
	margin: 10px 0 20px 0;
}

.hidden {
	display: none;
}

/* Pick winner/clear-all actions*/
.hidden-trigger {
	/* Use opacity: 0 if you want it to be invisible until hover */
	/*opacity: 0;*/
	opacity: 0.7;
	background-color: #4caf50;
	border: none;
	color: whitesmoke;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	
	
}

.hidden-trigger:hover{
	opacity: 1.0;
}

/* Place the pick winner*/
 #pick-winner {
	position: absolute;
	bottom: 400px;
	right: 300px;
	
} 


#clear-all {
	position: absolute;
	top: 174px;
	right: 320px;
	background-color: #4caf50;
	border: none;
	color: whitesmoke;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	
	
}
 #file-trigger {
	position: absolute;
	top: 85px;
	right: 280px;
	color: #ccc;
	width: fit-content;

	
} 

#file-area {
	position: absolute;
	top: 110px;
	right: 30px;
	display: none;
}

 #file-submit {
	font-size: 14px;
	padding: 4px;
	margin-top: 10px;
	border-radius: 3px;
} 

#file-submit:hover {
	cursor: pointer;
}

#file-submit:disabled {
	cursor: not-allowed;
	border: 1px solid #999;
	background: #ccc;
	color: #aaa;
}

/* Input area */


.num-entries {
	float: right;
	color: rgb(15, 2, 2);
}

/* List of names */
#name-list-container {
	overflow-y: auto;
	height: 375px;
	margin-top: 10px;
	margin-right: -20px;
	padding-right: 20px;
}


ul {
	list-style: none;
	padding: 0;	
}

.name-list li {
	display: table;
	table-layout: fixed;
	width: 300px;
	font-size: 22px;
	margin: 10px 0;
}

.name-list.left {
	float: left;
}

.name-list.right {
	float: right;
}

.row {
	display: table-row;
}

.row:hover {
	background-color: #dedede;
}

.name, 
.remove {
	display: table-cell;
	padding: 5px;
}

/* Selecting name */
#selecting-name {
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	padding: 60px 0;
	color: #888;
}

/* Winner */
.winner {
	position: relative;
	display: table;
	width: 100%;
}

.winner .name {
	padding: 0;

}

#selecting-name {
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	z-index: 5000;
	position: relative;
	font-size: 50pt;
}

#selecting-name.final-winner {
	color: rgb(51, 51, 51);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	font-size: 55pt;
}

.winner .icon-font.remove {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 50px;
}

.winner .icon-font.remove:hover {
	opacity: 0.5;
}

#pick-another {
	font-size: 80px;
	color: #777;
	line-height: 80px;
}

#pick-another:hover {
	color: #333;
	cursor: pointer;
}

#blanket {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.65;
	z-index: 1;
}

/* Icon fonts fontello - http://fontello.com/ */
@font-face {
	font-family: 'fontello';
	src: url("fontello/fontello.eot");
	src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.woff") format('woff'), url("fontello/fontello.ttf") format('truetype'), url("fontello/fontello.svg#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	line-height: 1em;
}

.remove::before {
	content: 'a';
	opacity: 0.2;
}

.remove:hover::before {
	content: 'b';
	color: #f33;
	opacity: 1;
}
